@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

html,
body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  background-color: #e59379;
  font-family: 'Aladin', cursive;
}

.main-block {
  height: 100%;
  width: 68%;
}

.todolist-wrapper {
  height: 100%;
  width: 32%;
  background-color: #f3e1d5;
  box-shadow: -10px 4px 26px rgba(0, 0, 0, 0.25);
}
