.todo-list-header {
  font-family: Aladin;
  font-style: normal;
  font-weight: normal;
  font-size: 4.6vw;
  line-height: 93.4%;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  margin: 0;
}

.todo-list {
  height: 100%;
  width: 100%;
}

.todolist-header-block {
  padding-top: 3.2vw;
  height: 10%;
}

.create-todo-block {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todo-input {
  background: #fffbf1;
  border-radius: 87px;
  height: 3vw;
  width: 60%;
  font-family: Aladin;
  border: none;
  outline: none;
  padding-left: 1.5vw;
  font-size: 1.8vw;
  color: rgba(0, 0, 0, 0.63);
}

.add-todo-btn {
  background: #fb6b3e;
  border-radius: 87px;
  height: 3.2vw;
  width: 6vw;
  color: #ffffff;
  font-family: Aladin;
  font-size: 1.7vw;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-todo-btn:hover {
  background: #e26039;
}

.todos {
  padding-top: 1.3vw;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.todo {
  display: flex;
  height: 15%;
  width: 90%;
  background: #fffbf1;
  border: 1px solid rgba(0, 0, 0, 0.63);
  border-radius: 16px;
  margin-bottom: 1.8vw;
}

.todo-name {
  display: flex;
  width: 80%;
  align-items: center;
  padding-left: 2.2vw;
  font-size: 2.1vw;
  color: rgba(0, 0, 0, 0.63);
  font-family: Aladin;
  font-style: normal;
  font-weight: normal;
}

.delete-todo {
  width: 20%;
  height: 100%;
  background: #fffbf1;
  border: none;
  outline: none;
  border-radius: 0px 15px 15px 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.63);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.delete-todo:hover {
  background-color: #fb6b3e;
}

.fa-trash-alt {
  color: #fb6b3e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.8vw;
  border-radius: 0px 15px 15px 0px;
}

.fa-trash-alt:hover {
  color: #fffbf1;
}
